<div>
  <form name="settingsForm">
    <fieldset>
      <legend>Venue Categories</legend>
      <table>
        <tr ng-repeat="category in venueCategories">
          <td><label for="category-{{category.code}}">{{category.name}}</label><td>
          <td>
            <input type="checkbox"
                   id="category-{{category.code}}"
                   value="{{category.code}}"
                   ng-model-options="{ getterSetter: true }"
                   ng-model="category.selected" />
          </td>
        </tr>
      </table>
    </fieldset>
    <!--fieldset>
      <legend>Override datetime</legend>
      <label for="settings-override-weekday"> Weekday</label>
      <input type="number" id="settings-override-weekday" name="override-weekday"
             min="1" max="7"
             placeholder="6"
             ng-model="settings.overrideWeekday" />
      <label for="settings-override-time"> Time</label>
      <input type="time" id="settings-override-time" name="override-time"
             placeholder="HH:mm"
             ng-model="settings.overrideTime" />
    </fieldset-->
    <fieldset>
      <legend>Location</legend>
      <label for="settings-radius">Radius</label>
      <input type="number" id="settings-radius" name="radius"
             min="1000" max="10000"
             ng-model="settings.radius"
             required />
    </fieldset>
  </form>
</div>
