<div>
  <p>Lat Lon: <span id="lat-lon">{{coords.latitude}},{{coords.longitude}}</span></p>
  <select name="ordering" ng-model="ordering">
      <option value="location.distance">Distance</option>
      <option value="-closingDateTime">Closing time</option>
  </select>
  <div ng-if="fetching">Fetching data...</div>
  <table ng-if="!fetching">
    <caption>Venues near you</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Distance</th>
        <th>Closing time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="venue in venues | orderBy:ordering">
        <td><a ng-href="https://foursquare.com/v/{{venue.id}}">{{venue.name}}</a></td>
        <td>{{venue.location.distance}}</td>
        <td>
          <span ng-show="venue.closingTime">{{venue.closingDateTime.getHours()}}:{{venue.closingDateTime.getMinutes()}}</strong></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
